<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="icon" href="https://glitch.com/favicon.ico" /> -->
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/post.css" />
    <script src="./assets/js/utils.js" defer></script>
    <script src="./assets/js/render.js" defer></script>
    <title></title>
  </head>
  <body>
    <header>
      <h1 class="logo">Meu Blog</h1>

      <nav class="navbar">
        <ul>
          <li class="section">Blog</li>
          <li class="section">Sobre</li>
          <li class="section">Contato</li>
        </ul>
      </nav>

      <input type="search" placeholder="Pesquisar" />
    </header>

    <div class="breadcrumb"></div>
    <div class="post-info">
      <p class="post-date"></p>
      <h1 class="post-title"></h1>
      <button class="filter-button category"></button>
    </div>

    <article class="post-container">

    </article>
  </body>
</html>
